.pc
binutils[_-]*
gcc-20??????
gcc-*.tar.xz
newlib-4*
newlib-4*.tar.[gx]z
bin
bin-gcn
*-protocol*
*-summary*
usage-*.svg
bootstrap-summary
build-hppa64
build-jit
build-nvptx
build-gcn
build
html
installed-hppa64.tar.xz
installed-jit.tar.xz
installed-testlogs.tar
locales
src
src-nvptx
src-gcn
stamps

debian/*/*~
debian/patches/series

debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

debian/gcc-XX-15.1
debian/gcc-ar-15.1
debian/gcc-nm-15.1
debian/gcc-ranlib-15.1

debian/tmp*
debian/files
debian/shlibs.local
debian/substvars.local
debian/README.libstdc++-baseline
debian/README.Bugs
debian/README.Debian.*
debian/rules.parameters
debian/soname-cache
debian/arch_binaries*
debian/indep_binaries*

debian/*-15*.preinst
debian/*-15*.postinst
debian/*-15*.prerm
debian/*-15*.postrm
debian/*-15*.doc-base*
debian/*-15*.overrides
debian/lib*1.preinst
debian/lib*2.preinst
debian/lib*6.preinst
debian/lib*1.postinst
debian/lib*6.postinst
debian/lib*1.prerm
debian/lib*6.prerm

debian/*-15-for-build
debian/*-15-for-host
debian/*-15-*-linux-gnu

debian/cpp-15
debian/cpp-15-doc
debian/fixincludes
debian/g++-15
debian/gcc-15
debian/gcc-15-base
debian/gcc-15-diagnostics
debian/gcc-15-doc
debian/gcc-15-source
debian/gcc-15-hppa64-linux-gnu
debian/gcc-15-locales
debian/gcc-15-nof
debian/gcc-15-offload-amdgcn
debian/gcc-15-offload-nvptx
debian/gcc-15-soft-float
debian/gcc-15-test-results
debian/gcc-snapshot
debian/gccbrig-15
debian/gccgo-15
debian/gccgo-15-doc
debian/gccrs-15
debian/gdc-15
debian/gfortran-15
debian/gfortran-15-doc
debian/gm2-15
debian/gm2-15-doc
debian/gnat-15
debian/gnat-15-sjlj
debian/gnat-15-base
debian/gnat-15-doc
debian/gobjc-15
debian/gobjc++-15
debian/g*-15-multilib
debian/gcc-15-plugin-dev
debian/lib*asan8
debian/lib*asan8-dbg
debian/lib*atomic1.symbols
debian/lib*atomic1
debian/lib*atomic1-dbg
debian/libcc1-0
debian/libgccjit-15-dev
debian/libgccjit-15-doc
debian/libgccjit0
debian/libgccjit0-dbg
debian/libgdiagnostics-15-dev
debian/libgdiagnostics-15-doc
debian/libgdiagnostics0
debian/libgdiagnostics0-dbg
debian/lib*gcc-s1.symbols
debian/lib*gcc[134]
debian/lib*gcc[134]-dbg
debian/lib*gcc-s[134]
debian/lib*gcc-s[134]-dbg
debian/lib*gcc-15-dev
debian/lib*gfortran5.symbols
debian/lib*gfortran5
debian/lib*gfortran5-dbg
debian/lib*gfortran-15-dev
debian/libgm2-20
debian/libgm2-20-dbg
debian/libgm2-15-dev
debian/lib*go24
debian/lib*go24-dbg
debian/lib*go-15-dev
debian/libgomp-plugin-amdgcn1
debian/libgomp-plugin-hsa1
debian/libgomp-plugin-nvptx1
debian/lib*gomp1.symbols
debian/lib*gomp1
debian/lib*gomp1-dbg
debian/libhwasan0
debian/lib*itm1.symbols
debian/lib*itm1
debian/lib*itm1-dbg
debian/lib*lsan0
debian/lib*lsan0-dbg
debian/lib*objc4
debian/lib*objc4-dbg
debian/lib*objc-15-dev
debian/lib*ssp0
debian/lib*tsan2
debian/lib*tsan2-dbg
debian/lib*ubsan1
debian/lib*ubsan1-dbg
debian/lib*vtv0
debian/lib*vtv0-dbg
debian/libgnat-15
debian/libgnat-util15
debian/libgnat*15-dbg
debian/libgnat*15.overrides
debian/libgnat*15-dev
debian/libgomp1-dev
debian/lib*gphobos6
debian/lib*gphobos6-dbg
debian/lib*gphobos-15-dev
debian/lib*quadmath0.symbols
debian/lib*quadmath0
debian/lib*quadmath0-dbg
debian/libssp0-dev
debian/lib*stdc++6
debian/lib*stdc++6-15-dbg
debian/lib*stdc++-15-dev
debian/lib*stdc++6.symbols
debian/libstdc++-15-doc
debian/libstdc++-15-pic
